/*Background styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /*overflow: hidden ;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
}

/* styling for the content in header*/
header {
  background-image: url(../Assets/Background.png);
  height: 88.2vh;
  padding-top: 35px;
}

.header-logo {
  cursor: pointer;
  margin-left: -30px;
}

.logo {
  height: 25px;
}

.search-icon {
  cursor: pointer;
}

.navigaton-bar {
  padding: 20px 150px 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigaton {
  display: flex;
  margin-right: -20px;
}

.search-icon {
  height: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

/*button styles*/

.base {
  text-decoration: none;
  word-spacing: 4px;
  font-size: 1rem;
}
.nav-link-sign-in {
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
}

.nav-link-Get-started {
  padding: 14px 14px 14px 14px;
  border-radius: 5px;
}

/*uility classes for buttons*/
.btn-light {
  color: rgb(30, 29, 29);
  padding: 10px 10px 10px 10px;
}

.btn-dark {
  color: aliceblue;
  background: black;
}
.light {
  color: lightgray;
}

/* stylings for the main content of the page*/
.landing-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: auto;
}

.big-opening-text {
  max-width: 900px;
  margin-left: 170px;
  padding-bottom: 20px;
  font-size: 2.3rem;
}

h1 {
  margin-left: 10px;
}

.open-paragragh {
  padding-bottom: 20px;
}

.open-paragragh p {
  max-width: 690px;
  margin-left: 280px;
  font-size: 1.2rem;
}

.get-started-link {
  padding-top: 8px;
}

.no-card-required {
  padding-top: 28px;
}

.code-snippet {
  padding-top: 60px;
  margin-top: 20px;
}

.code-snippet img {
  max-width: 80%;
}

.main-content {
  background: white;
}

.two-columns {
  display: flex;
  padding: 60px 36px 50px 150px;
}

.column-one {
  padding-right: 10px;
}

.snippet-information {
  margin-top: 40px;
  margin-left: -14px;
}

.description-heading {
  max-width: 600px;
}

.description-heading h2 {
  font-size: 2.2rem;
  padding-top: 12px;
  padding-bottom: 10px;
}

.description-paragragh {
  max-width: 820px;
}

.description-paragragh p {
  max-width: 540px;
  padding-bottom: 24px;
}

.customizable-snippet-image img {
  max-width: 400px;
  margin-right: 90px;
}

/*footer styles*/
.footer-section {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 128px;
  padding-left: 128px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

.links {
  text-decoration: none;
  color: gray;
  padding-left: 20px;
}
